<div class="container">
    <img src="/logo.png" alt="Logo do Sistema" class="logo" />
    <h1 class="titulo">Lista de Compras</h1>

    <form class="add-item-form" (ngSubmit)="addItem()">
        <input type="text" id="item" name="item" [(ngModel)]="item" placeholder="Digite o nome do item" />
        <button type="submit">Adicionar</button>
        <button type="button" (click)="limparLista()" class="clear-button">Limpar</button>
    </form>

    <div class="table-container"> <!-- Adicionado contêiner para rolagem -->
        <table>
            <thead>
                <tr>
                    <th style="max-width: 50px;">#</th>
                    <th style="max-width: 150px;">Item</th>
                    <th style="max-width: 100px;">Comprado</th>
                    <th style="max-width: 100px;">Remover</th>
                </tr>
            </thead>
            <tbody>
                @for (elemento of lista; track elemento.id) {
                    <tr>
                        <td>{{ elemento.id }}</td>
                        <td>
                            <span [ngClass]="{ 'item-riscado' : elemento.comprado }">
                                {{ elemento.nome }}
                            </span>
                        </td>
                        <td>
                            <input type="checkbox" (click)="riscarItem(elemento)" [checked]="elemento.comprado" />
                        </td>
                        <td>
                            <button (click)="removerItem(elemento)" class="remove-button">
                                <img src="/bin.png" alt="Remover" />
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>